.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.navbar {
  background-color: #f2f2f2; /* Example background color */
  padding: 10px;
}

.nav-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block; /* Display links horizontally */
  margin-right: 10px; /* Add spacing between links */
}

.nav-item a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Example link color */
}

.nav-item a:hover {
  color: #912f40; /* Color when hovering over the link */
}
