/* Map.css */
.map-container {
    font-family: 'Arial', sans-serif;
    max-width: 1000px;
    height: 900px;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .map-header {
    display: flex;
    align-items: center;
    background-color: #ececec;
    padding: 20px;
  }
  
  .back-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .map-header h1 {
    margin: 0;
  }
  
  .map-buttons {
    padding: 20px;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
  }
  
  .map-button {
    background-color: #9f4848;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .map-button:last-child {
    margin-bottom: 0;
  }
  
  .map-placeholder {
    height: 400px; /* Adjust height as needed */
    background-color: #f0f0f0;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.mappedin.com%2Fsdks%2F&psig=AOvVaw29KwtmUExcF4r9SJiYasyf&ust=1705915347904000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCNjBmoWU7oMDFQAAAAAdAAAAABAD');
    background-size: cover;
    background-position: center;
  }
  